BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "heartbeat_n" SITE "51" ;
LOCATE COMP "mcu_gpio" SITE "59" ;
LOCATE COMP "spare_led1_n" SITE "60" ;
LOCATE COMP "spare_led2_n" SITE "61" ;
LOCATE COMP "seed_gpio4" SITE "68" ;
LOCATE COMP "seed_gpio1" SITE "69" ;
LOCATE COMP "seed_gpio3" SITE "70" ;
LOCATE COMP "seed_gpio2" SITE "71" ;
LOCATE COMP "seed_laser_en_led_n" SITE "74" ;
LOCATE COMP "seed_spare3" SITE "75" ;
LOCATE COMP "seed_spare4" SITE "78" ;
LOCATE COMP "seed_spare1" SITE "84" ;
LOCATE COMP "system_reset_n" SITE "97" ;
LOCATE COMP "over_current_shutdown_n" SITE "48" ;
LOCATE COMP "rstn" SITE "34" ;
LOCATE COMP "scl" SITE "18" ;
LOCATE COMP "sda" SITE "19" ;
LOCATE COMP "seed_dac_mosi" SITE "20" ;
LOCATE COMP "seed_dac_sck" SITE "24" ;
LOCATE COMP "seed_ldac_n" SITE "27" ;
LOCATE COMP "seed_adc_convert" SITE "16" ;
LOCATE COMP "seed_adc_sck" SITE "15" ;
LOCATE COMP "seed_mod_sck" SITE "30" ;
LOCATE COMP "seed_mod_ss" SITE "32" ;
LOCATE COMP "seed_mod_mosi" SITE "29" ;
LOCATE COMP "seed_reset_n" SITE "25" ;
LOCATE COMP "seed_dac_ss" SITE "21" ;
LOCATE COMP "seed_spare2" SITE "81" ;
LOCATE COMP "seed_adc_sdo1" SITE "10" ;
LOCATE COMP "seed_adc_sdo2" SITE "14" ;
LOCATE COMP "seed_compared" SITE "28" ;

SYSCONFIG I2C_PORT=ENABLE ;
